* {
  margin: 0px;
  /* toma el padding sin agregar al tamaño del contenedor*/
  box-sizing: border-box;
}
/* agregue tipografia de google fonts */
body {
  font-family: "Combo", cursive;
}
:root{
  /* #4ead15
#DAF7A6
#FFC300
#FF5733
#C70039
#900C3F */
  --color1:rgb(78, 173, 21);
  --color2:rgb(218, 247, 166);
  --color3:rgb(255, 195, 0);
  --color4:rgb(255, 87, 51);
  --color5:rgb(199, 0, 57);
  --color6:rgb(144, 12, 63);
}
header {
  font-size: 1em;
  background-image: linear-gradient(90deg, var(--color1), rgb(29, 186, 136));
  height: 8em;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

nav {
  /* background-color: rgb(73, 73, 73); */
  background-color: var(--color6);
  font-size: 1.2em;
  height: 3.5em;
  text-align: center;
  padding-top: 20px;
  position: sticky;
  /* margin-top: 120px; */
  top: 0;
  width: 100%;
}
.ul-nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

main {
  margin-top: 2em;
}

/* quite el "li" porque afecta a todas las listas de la pagina pasa lo mismo si ponemos "a" */
.categorias {
  display: inline;
  padding-inline: 50px;
}
/* todos los "a" que esten dentro del nav */
nav a {
  color: var(--color2);
  text-decoration: none;
  display: block;
}
nav a:hover {
  background-color: var(--color5);
  border-radius:30px;
}
nav a:active {
  background-color: var(--color4);
}

footer {
  background-image: linear-gradient(90deg, var(--color1), rgb(29, 186, 136));
  /* background-image: linear-gradient(to right, var (--color1) 0%, #38f9d7 100%); */
  height: 8em;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}
.footer {
  display: flex; /* flex-direccion = row  y flex-wrap = nowrap por defecto 
 (wrap permite que se coloquen como elementos en multilinea y nowrap los acomoda en una linea) */
  justify-content: space-evenly; /*espacio entre items*/
}
.redes {
  margin-top: 1rem;
  color: black;
}


